@use 'colors' as *;

body {
    font-family: 'Roboto', sans-serif;
    background-color: $background;
    color: $text;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.no-margin {
    margin: 0;
}