<section>
    <header>
        <h1>Crear nueva tarea</h1>
    </header>
    <main>
        <form class="form-people" (ngSubmit)="onSubmit($event)" [formGroup]="taskGroup">
            <app-input-field type="text" id="task-name" formControlName="name">
                Nombre de la tarea:
            </app-input-field>
            <app-input-field type="date" id="limit-date" formControlName="limitDate">
                Fecha de limite:
            </app-input-field>
            <section class="creation-people">
                <h3>Personas Asociadas:</h3>
                <section class="people-assigned">
                    <ng-container *ngFor="let person of assignedTo.controls; let i = index">
                        <div class="people-item flex justify-between align-center">
                            <p>{{ person.get('name')?.value }} ({{ person.get('age')?.value }})</p>
                            <button class="close-icon" type="button" (click)="removePerson(i)">
                                <span class="material-symbols-outlined">
                                    close
                                </span>
                            </button>
                        </div>
                    </ng-container>
                </section>
                <section class="creation-people-form" [formGroup]="personGroup">
                    <div>
                        <app-input-field type="text" id="person-name" formControlName="name">
                            Nombre completo:
                        </app-input-field>
                
                        <app-input-field type="number" id="age" formControlName="age">
                            Edad:
                        </app-input-field>
                    </div>
                    <section>
                        <app-input-field type="text" id="skills" formControlName="skill">
                            Habilidades:
                            <button icon type="button" class="check-icon" (click)="addSkill()">
                                <span class="material-symbols-outlined">
                                    check
                                </span>
                            </button>
                        </app-input-field>
                        <section class="skills-list">
                            <ng-container *ngFor="let skill of skills.controls; let i = index">
                                <div class="flex justify-between align-center">
                                    {{ skill?.value }}
                                    <button class="close-icon" type="button" (click)="removeSkill(i)">
                                        <span class="material-symbols-outlined">
                                            close
                                        </span>
                                    </button>
                                </div>
                            </ng-container>
                        </section>
                        <ng-container *ngIf="!skills.length && skills.touched && skills.getError('error')">
                            <span>Debes tener al menos una habilidad</span>
                        </ng-container>
                    </section>
                </section>
                <section class="add-new-people" (click)="addPerson()">
                    Agregar persona
                </section>
            </section>
            <footer class="create-task-footer">
                <app-button mode="secondary" type="submit">Guardar tarea</app-button>
            </footer>
        </form>
    </main>
</section>