<section>
    <header>
        <h1>Crear nueva tarea</h1>
    </header>
    <main>
        <form class="form-people" (submit)="onSubmit($event)">
            <app-input-field type="text" id="task-name">
                Nombre de la tarea:
            </app-input-field>
            <app-input-field type="date" id="limit-date">
                Fecha de limite:
            </app-input-field>
            <section class="creation-people">
                <h3>Personas Asociadas:</h3>
                <section class="people-assigned">
                    <ng-container *ngFor="let person of [{}, {}]">
                        <div class="people-item flex justify-between align-center">
                            <p>Juan (23)</p>
                            <button class="close-icon" type="button">
                                <span class="material-symbols-outlined">
                                    close
                                </span>
                            </button>
                        </div>
                    </ng-container>
                </section>
                <section class="creation-people-form">
                    <div>
                        <app-input-field type="text" id="person-name">
                            Nombre completo:
                        </app-input-field>
                        <app-input-field type="number" id="age">
                            Edad:
                        </app-input-field>
                    </div>
                    <section>
                        <app-input-field type="text" id="skills">
                            Habilidades:
                            <button icon type="button" class="check-icon">
                                <span class="material-symbols-outlined">
                                    check
                                </span>
                            </button>
                        </app-input-field>
                        <section class="skills-list">
                            <ng-container *ngFor="let skill of ['asdasd','asdasd','asdasd']">
                                <div class="flex justify-between align-center">
                                    {{ skill }}
                                    <button class="close-icon" type="button">
                                        <span class="material-symbols-outlined">
                                            close
                                        </span>
                                    </button>
                                </div>
                            </ng-container>
                        </section>
                    </section>
                </section>
                <section class="add-new-people">
                    Agregar persona
                </section>
            </section>
            <footer class="create-task-footer">
                <app-button mode="secondary" type="submit">Guardar tarea</app-button>
            </footer>
        </form>
    </main>
</section>